.youtube-link {
    display: inline-block;
    overflow: hidden;
    width: 170px;
    height: 80px;
}

.itunes-link {
    display: inline-block;
    overflow: hidden;
    width: 170px;
    height: 45px;
    background: url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2019-11-29&kind=podcast) no-repeat;
}

.youtube-iframe {
    width: 200px;
    height: 200px;
    frameBorder: 0;
    allow: accelerometer autoplay encrypted-media gyroscope picture-in-picture;
    allowFullScreen: true;
}

.soundcloud-iframe {
    width: 300px;
    height: 166px;
    scrolling: no;
    frameBorder: no;
    allow: autoplay;
}


* {
    background-color: #feef00 !important;
    color: #245eca;
    text-transform: uppercase;
}
